{% extends "layout.html" %} {% block heading %} Flack Channels {% endblock %} {% block body %}

<main class="container-fluid">

    <h1>Welcome {{ username }} to
        <strong>{{ channel }}</strong>
    </h1>
    <!-- <h1>Welcome to the {{ channel }} channel</h1> -->

    <ul id="list">
        {% for item in messages_list %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>

    <hr>

    <!-- <form> -->
    <!-- action="{{ url_for('channel', channel = channel) }}" method="post" -->
    <div class="form-group">
        <label for="inputMessage">New Message</label>
        <input type="text" class="form-control" id="inputMessage" name="inputMessage" aria-describedby="messageHelp" required/>
    </div>

    <button name="" class="btn btn-primary">Submit New Message</button>
    <!-- type="submit"  -->
    <!-- </form> -->

</main>

<footer class="footer">
    <div class="container">
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
</footer>

<script src="{{ url_for('static', filename='channel.js') }}"></script>

{% endblock %}